.idea
/target
*.wasm
*.o
*.a
plugins/c/plugin_world.*
plugins/cpp/plugin_world.*
plugins/go/my_plugin_host_api/
plugins/go/export_wit_world/
plugins/go/wit_exports.go
plugins/go/go.mod
plugins/go/go.sum
plugins/zig/plugin_world.*
plugins/python/stubs/
plugins/csharp/bin
plugins/csharp/obj

plugins/rust/target
plugins/nelua/plugin_world.*
plugins/nelua/guest.c
.zig-cache
plugins/nim/build
plugins/nim/plugin_world.*

